<%= form_for(@office) do |f| %>
<div id="Left">
  
  <div id="Right">    

    <div class="submit"><%= f.submit "Update Office",:class => "submit"%></div>


  </div>
  
  
  
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
      <% @office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    TITRE:<br />
    <%= f.text_field :titre, :style =>"width:99%" %>
  </div>
  <div class="field">
    TITRE ORIGINAL ou ALTERNATIF:<br />
    <%= f.text_field :titreo, :style =>"width:99%" %>
  </div>
  <div class="field">
    REALISATEUR:<br />
    <%= f.text_field :rea, :style =>"width:99%" %>
  </div>
  <div class="field">
    ANNEE:<br />
    <%= f.text_field :year, :style =>"width:99%" %>
  </div>
  <div class="field">
    PAYS:<br />
    <%= f.text_field :country, :style =>"width:99%" %>
  </div>
  <div class="field">
    METRAGE APPROXIMATIF:<br />
    <%= f.text_field :dure, :style =>"width:99%" %>
  </div>
  <div class="field">
    SON:<br />
    <%= f.text_field :son, :style =>"width:99%" %>
  </div>
  <div class="field">
    PRODUCTEUR/DISTRIBUTEUR:<br />
    <%= f.text_field :producer, :style =>"width:99%" %>
  </div>
  <div class="field">
    LIEU OFFICE:<br />
    <%= f.text_field :lieu, :style =>"width:99%" %>
  </div>
  <div class="field">
    FORMAT EN MM:<br />
    <%= f.text_field :format, :style =>"width:99%" %>
  </div>
  <div class="field">
    SUPPORT:<br />
    <%= f.text_field :support, :style =>"width:99%" %>
  </div>
  <div class="field">
    GENRE:<br />
    <%= f.text_field :genre, :style =>"width:99%" %>
  </div>
  <div class="field">
    THEME 1<br />
    <%= f.text_field :themea, :style =>"width:99%" %>
  </div>
  <div class="field">
    THEME 2<br />
    <%= f.text_field :themeb, :style =>"width:99%" %>
  </div>
  <div class="field">
    NOTES<br />
    <%= f.text_area :note, :style =>"width:99%" %>
  </div>
  
<% end %>
</div>