<div id="Left">
  
  <div id="Right">    
    <div class="submit"><%= link_to 'Add Office', new_office_path, :class=>"submit" %></div>
    
  </div>


  <%= form_tag offices_path, :method => 'get', :id => "offices_search" do %>
<div id='recherche'>
  <span class="re">RECHERCHE</span>
   
      <%= text_field_tag :search, params[:search],:style =>"width:760px;"  %>
      <span><%= image_submit_tag "ldh_recherche_icone.jpg"%></span>
    
</div>
<div id="hr"></div>
    <div id="officessearchs"><%= render 'officessearchs' %></div>
  <% end %>




</div>