<div id="Left">
   
  <div id="Right">    
    <div class="submit"><%= link_to 'Edit Office ', edit_office_path(@office), :class=>"submit" %></div>
  </div>

<p>
  <b>TITRE:</b>
  <%= @office.titre %>
</p>

<p>
  <b>TITRE ORIGINAL ou ALTERNATIF:</b>
  <%= @office.titreo %>
</p>

<p>
  <b>REALISATEUR:</b>
  <%= @office.rea %>
</p>

<p>
  <b>ANNEE:</b>
  <%= @office.year %>
</p>

<p>
  <b>PAYS:</b>
  <%= @office.country %>
</p>

<p>
  <b>METRAGE APPROXIMATIF:</b>
  <%= @office.dure %>
</p>

<p>
  <b>SON:</b>
  <%= @office.son %>
</p>

<p>
  <b>PRODUCTEUR/DISTRIBUTEUR:</b>
  <%= @office.producer %>
</p>

<p>
  <b>LIEU OFFICE:</b>
  <%= @office.lieu %>
</p>

<p>
  <b>FORMAT EN MM:</b>
  <%= @office.format %>
</p>

<p>
  <b>SUPPORT:</b>
  <%= @office.support %>
</p>

<p>
  <b>GENRE:</b>
  <%= @office.genre %>
</p>

<p>
  <b>THEME 1:</b>
  <%= @office.themea %>
</p>

<p>
  <b>THEME 2:</b>
  <%= @office.themeb %>
</p>

<p>
  <b>NOTES:</b>
  <%= @office.note %>
</p>

<br/>
<br/>

</div>


