<!DOCTYPE html>
<html>
<head>
  <title>Loin d'Hollywood</title>
  
  
  <%= stylesheet_link_tag 'form.css', 'scaffold.css' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.2.custom.css' %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ultra' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag :defaults, :ckeditor%>
  <%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.8.2.custom.min.js', 'rails.js', 'autocomplete-rails.js' %>
  <%= javascript_include_tag "application_jquery.js" %>
  
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
	 
  
</head>
<body>
  
  
  
  
  
  <!-- Header -->
  <div id="Header">
    <h1>Loin d'Hollywood</h1>

	<div id="user_nav">
	    <% if user_signed_in? %>
	      SIGNED IN AS <%= current_user.email %> 
	      <span><%= link_to "SIGN OUT", destroy_user_session_path %></span>
	    <% else %>

	    <% end %>
	</div>
	<% if user_signed_in? %>
	<div id="navigation">
		<div id='span'><%= link_to "cinéma des années 30", films_path %> | <%= link_to "office du cinéma éducateur", offices_path %> | <%= link_to "participants", films_path %> | <%= link_to "partenaires", films_path %> | <%= link_to "mentions légales", films_path %></div>
	</div>
	
	<% end %>
  </div>
  <!-- Header -->
    
    <!-- TABS -->
    <% if user_signed_in? %>
    <div id="navbar_wrapper"> 
      	<% flash.each do |name, msg|%>
		  <%= content_tag :div, msg, :id=> "flash_#{name}" %>
		<%end%>
	
    </div>
   	<%end%>
    <!-- TABS -->
  	
  
  
  
  <div id="Wrapper">
    
    <%= yield %>
      
  </div>
  
  <br/>
  <br/>
  
  <div id="footer">
    <%=image_tag'ldh_logo-ihtp.png'%> 
	<span>Loin d'Hollywood © IHTP, Institut d'histoire du temps présent, 2011. Tous droits réservés.</span>
  </div>
  
  
  



</body>
</html>
